# Dependências
node_modules/
package-lock.json
yarn.lock

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Arquivos compilados
*.so
*.o
*.obj
*.dll
*.exe
*.out
*.app

# Diretórios de build
/build/
/dist/

# Arquivos temporários
.tmp/
.temp/
.cache/
tmp/
temp/

# Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de IDE e editores
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

# Arquivos de configuração local
config.local.js
config.dev.js
/etc/fazai/fazai.conf
/etc/fazai/fazai.conf.local

# Arquivos de backup
*.bak
*.backup
*~

#arquivos locais particulas

github-howto.txt
baseDeConhecimento*
pesquisa*
*.pdf
.aider*
.kilocode*
