# Dependências
node_modules/
package-lock.json
yarn.lock
Old/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Arquivos compilados
*.so
*.o
*.obj
*.dll
*.exe
*.out
*.app
.qodo*
*.log
*.bkp
# Diretórios de build
/build/
/dist/

# Arquivos temporários
.tmp/
.temp/
.cache/
tmp/
temp/
todo.txt
opt/fazai/web/hp-console/data/

# Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de IDE e editores
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

# Arquivos de configuração local
config.local.js
config.dev.js
/etc/fazai/fazai.conf
/etc/fazai/fazai.conf.local

# Arquivos de backup
*.bak
*.backup
*~
*backup*
*.tgz
*.zip
*.tar
*.gz
*.sbs
*.spm
*fazai.conf
*deep-plan*
*node_modules*
*.claudio
*Soul*
*soul*
*collections*
*claudio*
*transc*
*models*
*gemma-b2-pt_cpp*


#arquivos locais particulas

github-howto.txt
baseDeConhecimento*
pesquisa*
*.pdf
.aider*
.kilocode*

# Diretórios do sistema
/mnt/
# Exclusivos (não versionar)
bin/gpt-web2shell
opt/fazai/tools/gpt-web2shell.js
local-extras/gpt-web2shell/

.gemini/
gha-creds-*.json

*gemma3*
*teste*
*TESTE*
*Old*
*old*
*.cline*
*.ipynb*
*.claude*

